## Libraries
*.a

## Object files
*.o

## Executables
*.out
Fillit/fillit
Push_Swap/push_swap
Push_Swap/checker
Lem_In/lem-in
Corewar/Assembler/asm
Corewar/VM/corewar

## Valgrind Files
*.dSYM
vgcore.*

## OSX Files
*._*
.DS_Store